<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiao.ht.kum"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <application
        android:name="com.longyou.haitunpay.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.longyou.haitunpay.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.longyou.haitunsdk.HaiTunPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/HaiTun_PaymentActTheme"/>
        
        <!-- ************微信支付配置start************ -->
        <!-- 微信支付回调页 -->
        <activity
            android:name="com.xiao.ht.kum.wxapi.WXPayEntryActivity"
            android:exported="true"/>
        <!-- 商户在海豚平台注册后获得的key -->
        <meta-data android:name="HAITUN_WECHAT_KEY" android:value="07b9ca8e20293023a2a16525a1cc313e"/>
        <!-- 商户在海豚平台注册后获得的merid -->
        <meta-data android:name="HAITUN_WECHAT_MERID" android:value="10001"/>
        <!-- ************微信支付配置end************ -->

        <!-- 动态配置创建订单地址（备用配置） -->
        <!--<meta-data android:name="HAITUN_CREATE_URL" android:value="http://p.ylsdk.com"/>-->
    </application>

</manifest>
